

.App {
  font-family: sans-serif;
}

/*
h1 {
  text-align: center;
}
*/


#LandingPageForm {
  position:absolute;
  top:33%;
  left:30%;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

#LandingPageLabel{
  display: block;
  width: 100%;
  color:white;
}
#LandingPageInputE {
  display: block;
  width: 100%;
  color:black;
}
#LandingPageInputP {
  display: block;
  width: 100%;
  color:black;
}

#LandingPageLabel {
  margin-bottom: 5px;
  height: 22px;
}

#LandingPageInputE {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}
#LandingPageInputP {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

#LandingPageInputE.error {
  border-color: red;
}
#LandingPageInputP.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

#LandingPageButton1 {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
}

#LandingPageButton1:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}
#LandingPageButton2 {
  position:relative;
  left:30px;
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
}

#LandingPageButton2:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}
.noNewUser{
  color: rgb(235, 54, 54);
  position:relative;
  left:200px;
  top:-12px;
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
  display: none;
}
.LandingPageButton2:hover + .noNewUser{
  display: block;
}