

.Div_Body {
  background-color: #252e41;
}

.Entire_App {
  position:absolute;
  background-color: #252e41;
  height: 100%;
  width: 100%;
}

.Server_Window {
  position:absolute;
  text-align: center;
  border: 1px solid blue;
  width: 48%;
  min-width: 450px;
  left: 1%;
  top: 5px;
  height: 350px;
  background-color: #252e41;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: 10px + 2vmin;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}
.Server_Window body {
  position:absolute;
  top:35%;
}

.File_Window {
  position:absolute;
  left:50%;
  top:5px;
  text-align: center;
  border: 1px solid red;
  width: 49%;
  min-width: 450px;
  height: 350px;
  background-color: #252e41;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: 10px + 2vmin;
  color: white;
}
.File_Window body {
  position:absolute;
  top:35%;
}

@media (max-width: 950px) {
  .File_Window {
    left: 470px;
  }
  .Login_Window {
    left: 470px;
  }
}

.Logo_Link_Window {
  position:absolute;
  top:365px;
  width: 48%;
  min-width: 450px;
  left: 1%;
  text-align: center;
  border: 1px solid rgb(0, 255, 34);
  height: 200px;
  /*padding: 50px;*/
  background-color: #252e41;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login_Window {
  position:absolute;
  top:365px;
  left:50%;
  text-align: center;
  border: 1px solid rgb(255, 0, 234);
  width: 49%;
  min-width: 450px;
  height: 200px;
  background-color: #252e41;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: 10px + 2vmin;
  color: white;
}
.Login_Window body {
  position:absolute;
  top:38%;
}
.Login-Submit{
  position:absolute;
  top:130%;
}
header{
  font-size: 25px;
}

@media (max-width: 950px) {
  .Login_Window {
    left: 470px;
  }
}

.Logo_Demo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Logo_Demo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.FEG {
  position:relative;
  top:-10px;
}
.App-link {
  color: #61dafb;
  position:relative;
  top:-20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sliderOne {
  -webkit-appearance: none;
  width: 150px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotateZ(90deg);
  position:absolute;
  left:75%;
}

.sliderOne:hover {
  opacity: 1;
}

.sliderOne::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.sliderOne::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.sliderTwo {
  -webkit-appearance: none;
  width: 150px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transform: rotateZ(90deg);
  position:absolute;
  right:75%;
}

.sliderTwo:hover {
  opacity: 1;
}

.sliderTwo::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

.sliderTwo::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}
  
